body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* titre en haut, boutons milieu, footer bas */
  align-items: center;
  min-height: 100vh;
  background-color: #f5f0dc;
}

h1 {
  text-transform: uppercase;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  margin-top: 20px;
}

.main-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.button, .product-btn, .confirm-btn, #backBtn {
  background-color: #a67c52;
  color: #f5f0dc;
  border: none;
  padding: 15px 25px;
  margin: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.button:hover, .product-btn:hover, .confirm-btn:hover, #backBtn:hover {
  opacity: 0.8;
}

.product {
  display: none;
}

.product img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: block;
  margin: 0 auto 10px;
}

#backBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  display: none;
}

.reservation {
  display: none;
  margin-top: 10px;
}

footer {
  margin-bottom: 10px;
}
